.commentCard {
    display: flex;
}
.commentInfo {
    margin-bottom: 10px;
}
.commentInfo p {
    text-align: end;
    font-size: 1.2rem;
    margin: 0;
}
.commentInfo .blockquote-footer {
    font-size: 0.7rem;
    right: 0;
    text-align: end;
}

.newComment_ctn {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.newComment_btn {
    border-radius: 50%;
    width: 60px;
    margin: auto;
    max-width: 60px;
    color: #fff;
    height: 60px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: hidden;
    background-color: #343a40;
    text-align: center;
    transition: all 0.2s 0.45s, height 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.25s,
        max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s,
        width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.35s;
}
.newComment_btn.expand {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.17);
    border-radius: 15px;
    width: 80%;
    height: 100%;
    max-width: 700px;
    padding: 0;

    transition: all 0.2s, max-width 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.1s, height 0.3s ease 0.25s;
}

.newComment_btn .button {
    cursor: pointer;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 20px;
    line-height: 60px;
    font-weight: bold;
    transform: rotate(45deg);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    font-family: Roboto, sans-serif;
}
.newComment_btn .button.spin {
    transform: rotate(585deg);

    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.newComment_btn.expand .button {
    transform: rotate(630deg);

    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

#form-collapse {
    background-color: #fff;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    color: #000;
    text-align: left;
}
