.articles-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newArticles_search {
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBar {
    display: flex;
}
.clearField {
    align-self: center;
    position: absolute;
    right: 10px;
    z-index: 3;
}
.articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px 15px;
    grid-auto-rows: minmax(100px, 200px);
}
.article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(37, 29, 85);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.article-card h1 {
    margin: 0;
    padding: 0;
    font-size: 120%;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
.article-card h2 {
    margin: 0;
    padding: 0 20px;
    font-size: 93%;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

.create-article-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
.commentsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
